.na {position:relative}
.ma{position: absolute}
.mb{background-color: aqua}
.bn{background-color: aqua}
.and{list-style:none;
    width:100px;
    height: 100px;
}
.and2{list-style:none;
    text-align:center
}
 .and3{list-style:none;
 }




